# Astro Runtime includes the following pre-installed providers packages: https://www.astronomer.io/docs/astro/runtime-image-architecture#provider-packages
psycopg2-binary
sqlalchemy
pandas
soda-core==3.*
apache-airflow-providers-postgres
pandas
requests
psycopg2-binary
apache-airflow
